body {
    background-color: black;
    color: white;
    font-size: 1.25em;
    display: block;
    position: relative;
    font-family: sans-serif;
}

#rps-div {
    background: skyblue;
    color: black;
    display: flex;
    flex-direction: column;
    max-width: 25em;
    justify-content: center;
    margin: auto;
    padding: 1em;
    border-radius: 0.15em;
}

.rps-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 1.25em;
}

#rps-div button {
    background-color: navy;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 0.15em;
    margin: 0 1em;
    padding: 0.25em 0.5em;
}

#rps-div .button-selected {
    background-color: skyblue;
    color: black;
}

#rps-div button:hover:enabled {
    background-color: white;
    color: black;
}


#rps-scores {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

#rps-winner {
    margin-right: auto;
    background-color: black;
    color: white;
    visibility: hidden;
}

#rps-scores span {
    padding: 0.25em 0.5em;
}

#scores-label {
    background-color: black;
    color: white;
}

.player {
    background-color: red;
    color: white;
}

.computer {
    background-color: blue;
    color: white;
}

.player-label {
    padding: 0.75em;
    font-size: 1.25em;
}


#rps-result {
    background-color: black;
    color: white;
    margin: 0.5em 0em;
    padding: 0.25em 0.5em;
    visibility: hidden;
}